.ui-table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 0.5rem;
    border: 1px solid var(--secondary-color);
    text-align: center;
    font-size: 12px;
  }

  td {
    &:nth-child(odd) {
      background-color: var(--accent);
    }

    &:nth-child(even) {
      background-color: var(--accent-hover);
    }
  }

  th {
    background-color: var(--secondary-color);
    color: var(--accent);
  }
}
