:root {
  --primary-color: #e63946;
  --primary-color-hover: #d62839;
  --secondary-color: #2b2d42;
  --secondary-color-hover: #1f2233;
  --accent: #ffffff;
  --accent-hover: #ced4da;
  --success: #4caf50;
  --error: #e63946;
  --background: #919294;
  --text-color: #212529;
  --text-color-hover: #000000;

  --font-heading: 'Orbitron', sans-serif;
  --font-body: 'Inter', sans-serif;
}
